#board {
    background-color: red;
    // height: 600px;
    // width: 600px;
}


.unit {
    background-color: blue;
    margin-top: 0;
    margin-bottom: 0;
    // margin: 1px;
    float: left;
}

.hovered {
    background-color: yellow;
}

#clearButton {
    margin-bottom: 5px;
}

body {
    margin: 0;
}
