#board {
    background-color: red;
    margin-left: 10%;
    // height: 600px;
    // width: 600px;
}


.unit {
    background-color: blue;
    margin-top: 0;
    margin-bottom: 0;
    // margin: 1px;
    float: left;
}

.hovered {
    background-color: yellow;
}


#clearButton, #colourButton, #shadesButton {
    margin-bottom: 5px;
    margin-right: 10px;
}

body {
    margin: 0;
}

#panel {
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}